<style type="text/css">
    .receipt-year-month {
        position: absolute;
        top: 2.5cm;
        left: 2.5cm;
        font-size: 0.6cm;
    }

    .receipt-invoice-number {
        position: absolute;
        top: 3.2cm;
        left: 2.8cm;
        font-size: 0.6cm;
    }

    .receipt-issue-time {
        position: absolute;
        top: 3.9cm;
        left: 1.8cm;
    }

    .receipt-random-number {
        position: absolute;
        top: 4.3cm;
        left: 1.8cm;
    }

    .receipt-amount {
        position: absolute;
        top: 4.3cm;
        left: 5.1cm;
    }

    .einvoice-name {
        position: absolute;
        top: 1.2cm;
        left: 2.5cm;
        font-size: 0.4cm;
    }

    .receipt-title {
        position: absolute;
        top: 1.8cm;
        left: 2.5cm;
        font-size: 0.6cm;
    }

    .einvoice-identifier {
        position: absolute;
        top: 4.7cm;
        left: 1.8cm;
    }

    .buyer-identifier {
        position: absolute;
        top: 4.7cm;
        left: 5cm;
    }

    .einvoice-barcode {
        position: absolute;
        top: 5.2cm;
        left: 1.5cm;
    }

    .einvoice-qrcode-left,
    .einvoice-qrcode-right {
        width: 2.5cm;
        position: absolute;
        top: 6.2cm;
    }

    .einvoice-qrcode-left {
        left: 1.6cm;
    }

    .einvoice-qrcode-right {
        left: 4.9cm;
    }

    .einvoice-remark {
        position: absolute;
        top: 8.8cm;
        left: 2.2cm;
        font-size: 0.2cm;
    }
</style>